{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    td,th{
        font-size: 2rem;
    }
</style>
<div class="page-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Food Cart</h2>
            </div>
            <div class="col-12">
                <a href="">Home</a>
                <a href="">Dish</a>
            </div>
        </div>
    </div>
</div>


<section class="menu-food mt-3 d-flex justify-content-start flex-wrap">
    
    <table class="table table-hover">
        <thead class="thead-dark">
            <th>Sr</th>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Qnty</th>
        </thead>
        {% if cart %}
        {% for d in cart %} 
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{d.name}}</td>
            <td><img src="{{d.name.image.url}}" class="rounded" alt="no" height="100px" width="100px"></td>
            <td>₹{{d.name.price}}</td>
            <td>₹{{d.ammount}}</td>
            <td> <div><a href="{% url 'qntysub' d.name.id %}">-</a> {{d.counter}} <a href="{% url 'qntyadd' d.name.id %}">+</a></div>
                <a href="{% url 'remove' d.name.id %}" class="btn btn-outline-secondary">remove</a>
            </td>
        </tr>
        {% endfor %}

        {% else %}
        <tr>
            <td colspan="6" class="text-center">
                <h2 class="alert  text-center">Oops! Your cart is empty. You haven’t placed any order yet.  <i class="fa-solid fa-cart-arrow-down"></i></h2>
                <a href="{% url 'menu' %}" class="btn btn-outline-dark">continue shopping</a>
            </td>
        </tr>
        
        {% endif %}
        
        <tr>
            <td colspan="3" class="alert bg-dark text-center text-white "> Total Amount</td>
            <td colspan="3" class="alert bg-dark text-center text-white ">₹{{M}}</td>
        </tr>
        <tr>
            <td colspan="6" class="alert bg-dark text-center text-white "> <a href="{% url 'order' %}">Place Order</a></td>
            
        </tr>
    </table>
    
</section>
{% endblock content %}