{% extends "base.html" %}
{% load static %}
{% block content %}
          <!-- Page Header Start -->
          <div class="page-header mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Our Menu</h2>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Page Header End -->
        <section class="menu-food mt-3 d-flex justify-content-start flex-wrap">
            {% for cat in category %} 
            <div class="card border border-dark overflow-hidden " style="width: 18rem; margin:1rem; border-radius:20px;">
                <img class="card-img-top" width="286" height="190" src="{{cat.image.url}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title text-center">{{cat.name}}</h5>
                  <p class="card-text text-dark text-center">{{cat.description}}</p>
                   <form action="{% url 'dish' cat.id %}" method="post" class="text-center">
                    {% csrf_token %}
                    <input type="submit" value="Try Now" class="btn btn-primary">
                   </form>
                  
                </div>
              </div>
            {% endfor %}
            
        </section>
{% endblock content %}