{% extends "base.html" %}
{% load static %}

 {% block content %}
 <div class="page-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Payment Cart</h2>
            </div>
            <div class="col-12">
                <a href="">Home</a>
                <a href="">Dish</a>
            </div>
        </div>
    </div>
</div>
 <section class="m-2">

    <div class="col-12 d-flex justify-content-around">
    
        <div class="col-5">
            <h3 class="alert  text-center">Order Summary</h3>
            <div class="overflow-auto p-1 mb-3 mb-md-0 mr-md-3 " style="max-width: 500px; max-height: 350px;">
                {% for pro in order %}
                <div class="card mb-2">
                    <div class="card-body">
                        <h5>Product : {{pro.name}}</h5>
                        <p>Quantity:{{pro.counter}}</p>
                        <p class="font-weight-bold">Price: {{pro.name.price}} /pcs</p>
                        
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        
        <div class="col-5">
            <h3 class="alert  text-center">Payable Amount</h3>
            <div class="card mb-2">
                <div class="card-body">
                    <h5>Amount : {{am}}</h5>
                    <p class="font-weight-bold">Shipping Charge : {{sc}}</p>
                    <p class="font-weight-bold">Discount : {{disc}}</p>
                    <p class="font-weight-bold">Total : {{ta}} </p>
                    
                </div>
            </div>
             <!-- Set up a container element for the button -->
             <form action="{% url 'payment' %}" id="myform">
                <div id="paypal-button-container"></div>
                
             </form>
                
            <!-- <a href="#" class="btn btn-warning form-control">Pay</a> -->
            <hr>
            <div>
                <h5>We accept</h5>
                Visa,UPI,RuPay..etc
            </div>
        </div>
    </div>
 </section>
   
 {% endblock content %}

 
 {% block payment %}
   <!-- Include the PayPal JavaScript SDK -->
   
<script src="https://www.paypal.com/sdk/js?client-id=AXMhPiSndCivEaEPWF17b_aOPSy8zsh_bSEjG1QEXcgX4VgqTIINEppuCy3C6hNC_4jkmteY2DUDyXWS&currency=USD"></script>

<script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
        // Set up the transaction
        createOrder: function(data, actions) { 
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '{{ta}}'
                    }
                }]
            });
        },
        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                // Show a success message to the buyer 
                alert('Transaction completed by {{user.first_name}} with ' + details.payer.name.given_name + 'account !');
                document.getElementById('myform').submit()
            });
        }
        }).render('#paypal-button-container');
</script>
 {% endblock payment %}
   
 